.game-list-wrapper {
    max-width: 100%;
    /* Ajusté pour qu'il prenne toute la largeur */
    margin: 20px auto;
    /* Centrer le conteneur horizontalement */
    padding: 0 20px;
    /* Ajouter du rembourrage horizontal */
    display: flex;
    /* Utiliser flexbox pour aligner les éléments */
    flex-direction: column;
    /* Organiser les éléments verticalement */
    margin-left: 460px;
}