

/* cart container */
.cart-container {
    position: fixed;

    width: 400px;

    height: 400px;
    /* Rend le conteneur fixe */
    top: 300px;
    /* Positionne le conteneur à 20px du haut de la page */
    left: 20px;
    /* Positionne le conteneur à 20px du bord gauche */
    border: 1px solid #e0e0e0;
    /* Bordure légèrement plus foncée */
    border-radius: 8px;
    /* Coins arrondis */
    padding: 20px;
    /* Augmenter le rembourrage pour plus d'espace */
    background-color: #ffffff;
    /* Fond blanc pour un look propre */
    box-shadow: 0 2px 8px r25a(0, 0, 0, 0.1);
    /* Ombre subtile pour la profondeur */
    max-width: 400px;
    /* Largeur maximale du conteneur de filtres */
    z-index: 1000;
    /* Assure que le conteneur soit au-dessus des autres éléments */
}