.register-menu {
    position: fixed;
    top: 4vh;
    /* Taille de la navbar en haut */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 10vw;
    height: calc(100% - 4vh);
    background-color: #677DFF;
    color: white;
    padding: 1vh;
    box-shadow: 1vh 0 1vh rgba(0, 0, 0, 0.1);
}

.register-menu ul {
    list-style-type: none;
    padding: 0;
}

.register-menu ul li {
    margin-top: 8vh;
}

.register-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    border-radius: 0.5vh;
    transition: background 0.3s ease;
}

.register-menu ul li a:hover {
    background-color: #b8e2ff;
}

.mat-icon {
    font-size: 2vh;
    /* Taille de l'icône */
    color: white;
    /* Couleur de l'icône */
    vertical-align: middle;
    /* Aligner l'icône au milieu du texte */
    margin-bottom: -0.5vh;
}

.label {
    color: white;
    font-size: 2vh;
}