<div class="transaction-container">
    <h2>Liste des Transactions</h2>
    <table>
        <thead>
            <tr>
                <th>ID du Jeu</th>
                <th>Nom du Jeu</th>
                <th>Prix</th>
                <th>Nom de l'Acheteur</th>
                <th>Date de la Transaction</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{ transaction.gameId }}</td>
                <td>{{ transaction.gameName }}</td>
                <td>{{ transaction.price | currency }}</td>
                <td>{{ transaction.buyerName }}</td>
                <td>{{ transaction.date | date:'short' }}</td>
            </tr>
        </tbody>
    </table>
</div>