<div class="cart-container">
    <h3><i class="material-icons">shopping_cart</i> Panier</h3>
    @if (cart.length > 0) {
    <div class="cart-items">
        @for (game of cart; track game.id) {
        <div class="cart-item">
            <p>{{ game.name }} - <span class="price">{{ game.price }} €</span></p>
            <button class="remove-button" (click)="removeFromCart(game)">
                <i class="material-icons">delete</i>
            </button>
        </div>
        }
    </div>
    }
    <div class="cart-total">
        <p><strong>Total : </strong> <span class="total-price">{{ prixCartTotal.toFixed(2) }} €</span></p>
        <button class="clear-button" (click)="clearCart()">
            <i class="material-icons">delete</i>
        </button>
    </div>
    @if (cart.length > 0) {
    <button class="finalize-button" (click)="finalizePurchase()">Finaliser l'achat</button>
    }
</div>