<div class="password-prompt-container">
    <h3>Veuillez entrer le mot de passe d'administrateur</h3>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <input type="password" formControlName="password" placeholder="Mot de passe" class="password-input" />
        <button type="submit" class="submit-button">Valider</button>
    </form>
    <div *ngIf="message"
        [ngClass]="{'success-message': messageType === 'success', 'error-message': messageType === 'error'}">
        {{ message }}
    </div>
</div>