.page-container {
    display: flex;
    flex-direction: row;
    margin-top: 0px;

}

.dashboard-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 100vh;
    background-color: #6786ff;
    padding: 0px;
}

.content {
    margin-left: 100px;
    padding: 20px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}