.retirer-stocks-wrapper {
    position: fixed;
    margin-top: 11vh;
    /* Reste en vh */
    margin-left: 13vw;
    /* Converti 250px en vw */
    width: 82.5vw;
    /* Reste en vw */
    padding: 3vh;
    /* Converti 30px en vh */
    background-color: #f9f9f9;
    border: 0.125vw solid #ccc;
    /* Converti 1px en vw */
    border-radius: 0.5vw;
    /* Converti 8px en vw */
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.1);
    /* Converti 4px et 12px en vh */
    font-family: 'Arial', sans-serif;
    height: 78vh;
    /* Reste en vh */
    overflow: auto;
    /* Reste inchangé */
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 colonnes, chaque colonne prend un cinquième de la largeur */
    gap: 1.25vh;
    /* Converti 20px en vh */
}

.game-item {
    display: flex;
    flex-direction: column;
    border: 0.125vw solid #ddd;
    /* Converti 1px en vw */
    padding: 1.25vh;
    /* Converti 10px en vh */
    border-radius: 0.5vw;
    /* Converti 8px en vw */
    background-color: #f9f9f9;
}

button {
    padding: 1.25vh 2.5vw;
    /* Converti 10px 20px en vh et vw */
    background-color: #dc3545;
    /* Rouge pour indiquer une action de retrait */
    color: white;
    border: none;
    border-radius: 0.25vw;
    /* Converti 4px en vw */
    cursor: pointer;
    margin-top: 1.25vh;
    /* Converti 10px en vh */
}