/* Container for the game list */
.game-list-container {
    display: grid;
    /* Garde la mise en page en grille pour les jeux */
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    /* Colonnes de jeux */
    gap: 1vh;
    /* Espace entre les jeux */
    border-radius: 1vh;
}