.general-report-wrapper {
    position: fixed;
    margin-top: 5vh;
    margin-left: 250px;
    width: 82.5%;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    height: 80vh;
    overflow: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.report-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}

.report-item .description {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.report-item .session {
    flex: 1;
    text-align: right;
    color: #666;
}

.report-item .global {
    flex: 1;
    text-align: right;
    color: #666;
}

.report-item:last-child {
    border-bottom: none;
}