<app-admin-navigation></app-admin-navigation>

<div class="seller-list-wrapper">

    @if (this.seller !== undefined) {
    <div class="infos">
        <div class="seller-header">
            <h3>Informations vendeur</h3>
            <div class="seller-information">
                <p> {{ this.seller.name }} {{ this.seller.firstName }}</p>
                <p>{{ this.seller.email }}</p>
                <p class="turnover">Chiffre d'affaires : {{ this.seller.turnover | currency:'EUR' }}</p>
                <p> Jeux vendus : {{this.sellerSales.length}}</p>
                <p> Jeux en stock : {{this.sellerStock.length}}</p>
            </div>
        </div>

        <h3>Jeux disponibles</h3>

        @if (this.sellerStock.length > 0) {

        <p class="carousel-title">Jeux en stock : {{this.sellerStock.length}}</p>
            <!-- carousel des STOCKS -->
            <div class="game-carousel-container">
                @if (this.showLeftButton) {
                <button class="carousel-nav left" (click)="scrollLeft()">&#10094;</button>
                }
                <div class="game-carousel">
                    <div class="game-carousel-track">
                        @for (game of this.visibleGames; track game.id) {
                        <app-game-card [game]="game"></app-game-card>
                        }
                    </div>
                </div>
                @if (this.showRightButton) {
                <button class="carousel-nav right" (click)="scrollRight()">&#10095;</button>
                }
            </div>
        } @else {
            <div class="empty-message">
                <p>Ce vendeur n'a pas de jeux en stock</p>
            </div>
        }

        <h3>Jeux vendus</h3>
        @if (this.sellerSales.length > 0) {
            <!-- carousel des SALES -->
            <div class="sales-carousel-container">
                @if (this.showLeftSalesButton) {
                <button class="carousel-nav left" (click)="scrollLeftSales()">&#10094;</button>
                }
                <div class="sales-carousel">
                    <div class="sales-carousel-track">
                        @for (game of this.visibleSales; track game.id) {
                        <app-game-card [game]="game"></app-game-card>
                        }
                    </div>
                </div>
                @if (this.showRightSalesButton) {
                <button class="carousel-nav right" (click)="scrollRightSales()">&#10095;</button>
                }
            </div>
        } @else {
            <div class="empty-message">
                <p>Ce vendeur n'a pas vendu de jeux</p>
            </div>
        }

        

        <!-- liste des transactions par date -->
        <div class="transactions">
            <h3 class="transactions-title">Transactions</h3>
            <div class="transactions-list">
                @for (transaction of this.sellerTransactions ; track transaction.gameName) {
                <ul class="transaction">
                    <li>{{ transaction.gameName }} - {{ transaction.date | date:'le dd/MM/yyyy à HH:mm' }} - {{ transaction.price | currency:'EUR' }}</li>
                </ul>
                }
            </div>
        </div>
    </div>
    }
    @else {
    <div class="empty-seller">Chargement des informations...</div>
    }

</div>