/* Search bar container */
.search-container {
    margin-bottom: 3vh;
    margin-top: 3vh;
    position: fixed;
}

/* Search bar input field dans composant inventaire */
.search-bar {
    width: 16vw;
    margin-left: 30vh;
    /* Define the width of the search bar */
    padding: 1vh;
    border-radius: 2vh;
    border: 1px solid #ddd;
    font-size: 1.8vh;
    outline: none;
    transition: box-shadow 0.3s ease;
}

/* Search bar input field */
.search-bar-avec-vendeur {
    width: 19vw;
    margin-left: 13vw;
    margin-top: 2vh;
    /* Define the width of the search bar */
    padding: 1vh;
    border-radius: 2vh;
    border: 1px solid #ddd;
    font-size: 1.8vh;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}