<app-admin-navigation></app-admin-navigation>

<div class="payment-container">
    <h2>Ventes et Commissions des Vendeurs</h2>

    <table>
        <thead>
            <tr>
                <th>ID du Vendeur</th>
                <th>Nom du Vendeur</th>
                <th>Total des Ventes (Prix)</th>
                <th>Commission Totale</th>
                <th>Total à Rendre</th>
                <th>Rembourser le vendeur</th>
            </tr>
        </thead>
        <tbody>
            @for (payment of sellerPayments; track payment.sellerId) {
            <tr>
                <td>{{ payment.sellerId }}</td>
                <td>{{ payment.sellerName }}</td>
                <td>{{ payment.totalSales | currency }}</td>
                <td>{{ payment.totalCommission | currency }}</td>
                <td>{{ payment.totalToGive | currency }}</td>
                <td>
                    <button
                        class="refund-button"
                        (click)="refundSeller(payment.sellerId)"
                    >
                        Rembourser
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
