<app-admin-navigation></app-admin-navigation>

<div class="seller-list-wrapper">
    <div class="seller-grid">
        @for (seller of filteredSellers; track seller.id) {
        <div class="seller-item">
            <div class="seller-info">
                <h4>{{ seller.name }}</h4>
                <div class="seller-fname">
                    <h5>{{ seller.firstName }}</h5>
                </div>
            </div>     
            <button class="see-more" (click)="goToSeller(seller)">voir plus</button>
        </div>
        }
    </div>
</div>