<app-admin-navigation></app-admin-navigation>

<div class="seller-list-wrapper">

    @if (this.seller !== undefined) {
    <div class="infos">
        <div class="seller-header">
            <p>{{ this.seller.name }}</p>
            <p>{{ this.seller.firstName }}</p>
            <p>{{ this.seller.email }}</p>
        </div>


        @if (this.sellerStock.length > 0) {

        <p>Jeux en stock : {{this.sellerStock.length}}</p>




        <div class="game-carousel-container">
            @if (this.showLeftButton) {
            <button class="carousel-nav left" (click)="scrollLeft()">&#10094;</button>
            }
            <div class="game-carousel">
                <div class="game-carousel-track">
                    @for (game of this.visibleGames; track game.id) {
                    <app-game-card [game]="game"></app-game-card>
                    }
                </div>
            </div>
            @if (this.showRightButton) {
            <button class="carousel-nav right" (click)="scrollRight()">&#10095;</button>
            }
        </div>




        } @else {
        <p>Ce vendeur n'a pas de jeux en stock</p>
        }

    </div>
    }
    @else {
    <div class="empty-seller">Chargement des informations...</div>
    }

</div>