<app-admin-navigation></app-admin-navigation>

<div class="seller-list-wrapper">
    <div class="seller-grid">
        @if (this.seller !== undefined) {
        <div class="infos">
            <p>{{ this.seller.name }}</p>
            <p>{{ this.seller.firstName }}</p>
            <p>{{ this.seller.email }}</p>

            
            
            @if (this.sellerStock.length > 0) {
            
                <p>Jeux en stock :</p>
                @for (game of this.sellerStock; track game.id) {
                    <div class="game">
                        <p>{{ game.name }}</p>
                        <p>{{ game.price }}</p>
                        <p>{{ game.editor }}</p>
                    </div>
                }
            } @else {
                <p>Ce vendeur n'a pas de jeux en stock</p>
            }
            
        </div>
        }
        @else {
            <div class="empty-seller">Chargement des informations...</div>
        }
        
    </div>
</div>