.mettre-rayon-wrapper {
    position: fixed;
    margin-top: 11vh;
    margin-left: 250px;
    width: 82.5%;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    height: 80vh;
    overflow: auto;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 4 colonnes, chaque colonne prend un quart de la largeur */
    gap: 20px;
    /* Espace entre les éléments */
}

.game-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}