<app-register-navigation></app-register-navigation>

<!-- Search Bar -->
<app-search-bar (search)="handleSearch($event)" [showSeller]="showSeller"></app-search-bar>

<div class="enregistrer-achat-wrapper">
    <div class="game-grid">
        @for (game of filteredGames; track game.id) {
        <div class="game-item">
            <app-game-card [game]="game" [showSeller]="showSeller" [showAddToCart]="true"></app-game-card>
        </div>
        }
    </div>
</div>

<!-- Affichage du panier -->
<app-cart></app-cart>