<app-register-navigation></app-register-navigation>

<!-- Search Bar -->
<app-search-bar (search)="handleSearch($event)" [showSeller]="showSeller"></app-search-bar>

<!-- Affichage du panier -->
<app-cart (gameRemoved)="gameRemoved($event)"></app-cart>

<!-- Affichage des jeux -->
<div class="enregistrer-achat-wrapper">
    <div class="game-grid">
        @for (game of filteredGames; track game.id) {
            <app-game-card [game]="game" [showSeller]="showSeller" [buttonType]="'addToCart'" (addToCart)="onAddToCart($event)"></app-game-card>
        }
    </div>
</div>
