<div class="game-card">
    <div class="game-info">
        <h2 class="game-title">{{ game.name }}</h2>
        <p class="game-editor">{{ game.editor }}</p>
        @if (showSeller) {
        <p class="game-id">{{ game.id }}</p>
        <p class="game-seller">{{ game.sellerName }}</p>
        }
        <p class="game-price">${{ game.price }}</p>
    </div>
    
    @switch (this.buttonType) {
        @case ("addToCart") {
            <button (click)="onAddToCart()" class="add">Ajouter au panier</button>
        }
        @case ("addToShelf") {
            <button (click)="onAddToShelf()" class="add">Mettre en rayon</button>
        }
        @case ("removeFromShelf") {
            <button (click)="onRemoveFromShelf()" class="remove">Retirer du rayon</button>
        }
        @case ("removeFromStock") {
            <button (click)="onRemoveFromStock()" class="remove">Retirer des stocks</button>
        }
        @default {

        }
      }
</div>