<app-admin-navigation></app-admin-navigation>

<div class="transaction-container">
    <h2>Liste des Transactions</h2>
    <table>
        <thead>
            <tr>
                <th>ID du Jeu</th>
                <th>Nom du Jeu</th>
                <th>Prix</th>
                <th>Id du Vendeur</th>
                <th>Nom du Vendeur</th>
                <th>Id de l'Acheteur</th>
                <th>Nom de l'Acheteur</th>
                <th>Date de la Transaction</th>
            </tr>
        </thead>
        <tbody>
            @for (detail of transactionDetails; track detail.transaction) {
            @if (detail.game) {
            <tr>
                <td>{{ detail.game.id }}</td>
                <td>{{ detail.game.name }}</td>
                <td>{{ detail.game.price }}</td>
                <td>{{ detail.game.sellerId }}</td>
                <td>{{ detail.game.sellerName }}</td>
                <td>{{ detail.transaction.buyerId }}</td>
                <td>{{ detail.transaction.buyerName }}</td>
                <td>{{ detail.transaction.date | date: 'short' }}</td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>