/* General navbar style */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3273;
    padding: 1vh 1vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    z-index: 1000;
}

/* Logo */
.navbar-logo {
    position: absolute;
    left: 5vh;
}

.navbar-logo img.logo {
    height: 7vh;
    width: auto;
}

/* Menu items (centered on larger screens) */
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default !important;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-size: 2vh;
    padding: 1vh 2vh;
    transition: background-color 0.3s ease;
    cursor: pointer !important;
}

.navbar-menu li {
    margin-left: 5vh;
    cursor: pointer !important;
}

.navbar-menu a:hover {
    background-color: #555;
    border-radius: 0.5vh;
}

/* Icone hamburger pour petits écrans */
.navbar-toggle {
    display: none;
    font-size: 3vh;
    color: white;
    cursor: pointer;
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    /* Icône hamburger visible en mobile, centré horizontalement */
    .navbar-toggle {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1.5vh;
    }

    /* Masque le menu par défaut */
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #3E3273;
        position: absolute;
        top: 5vh;
        /* Positionne le menu juste en dessous de la navbar */
        left: 0;
    }

    /* Affiche le menu lorsqu'il est ouvert */
    .navbar-menu.open {
        display: flex;
        padding-top: 2vh;
    }

    .navbar-menu li {
        margin: 1vh 0;
        width: 100%;
        text-align: center;
    }
}